.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  font-family: "Varela Round", sans-serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-button-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  /* margin-bottom: 10rem; */
  
}
.input-button-wrapper input{
 padding-left: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 42px;
  font-size: 19px;
}

.input-button-wrapper button{
  background-color: orange;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  height: 42px;
  font-size: 19px;
  cursor: pointer;
}

.input-button-wrapper button:hover{
  opacity: 0.85;
}

.input-button-wrapper button:active{
  transform: scale(0.90);
}